.wrap {
  background-color: @top-color;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
  }
}

.download-app {
  margin: 399px auto 0;
  width: 280px;
  padding-top: 26px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 95px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-start;
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    margin: 100px 0 0 0;
  }
}

.download-app__description {
  font-weight: 300;
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 18px;
  }
}

.download-app__title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    padding: 0 45px 0 45px;
    text-align: center;
  }
}

.download-app__links {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
}
