.download-app {
  color: @white;
  max-width: 300px;

  @media (min-width: @desktop-width) {
    width: 940px;
  }
}

.download-app__wrapper {
  padding: 380px 0 0 0;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding-top: 101px;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    padding-top: 118px;
    align-items: center;
  }
}

.download-app__description {
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 18px;
    z-index: 3;
  }
}

.download-app__title {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    padding: 0 45px 0 45px;
    margin: 0 0 31px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 52px;
  }
}

.download-app__links {
  margin-top: 33px;
  margin-bottom: 21px;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    margin: 46px auto 35px;
    width: 80%;
    padding: 0;
    z-index: 3;
  }

  @media (min-width: @desktop-width) {
    margin: 67px auto 54px;
  }
}

.download-app__link {
  min-height: 57px;
  min-width: 45px;
  display: block;
  font-size: 0;
  position: relative;

  &--apple::before {
    content: "";
    position: absolute;
    background: url("../../img/logo-apple.svg") no-repeat;
    width: 47px;
    height: 56px;
  }

  &--android::before {
    content: "";
    position: absolute;
    background: url("../../img/logo-android.svg") no-repeat;
    width: 43px;
    height: 47px;
    bottom: 2px;
  }

  &--microsoft::before {
    content: "";
    position: absolute;
    background: url("../../img/logo-microsoft.svg") no-repeat;
    width: 44px;
    height: 41px;
    bottom: 4px;
  }
}
