.form {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    max-width: 940px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__wrap {
  padding: 0 20px;

  &--bg {
    background-color: @hue;
  }

  @media (min-width: @tablet-width) {
    &--bg {
      background-color: @white;
    }

    &--name {
      order: 1;
    }

    &--check {
      order: 4;
    }

    &--contact {
      order: 3;
    }

    &--radio {
      order: 2;
    }

    &--text {
      order: 5;
    }

    &--submit {
      order: 6;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__data {
  border: 0;
  margin: 0 0 41px;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 2px solid @border-color;
    margin-bottom: 58px;

    &--border {
      border: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 51px;
  }
}

.form__name-wrap {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    padding-top: 19px;
  }
}

.form__item-name {
  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: @tablet-width) {
    width: 620px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    align-items: baseline;

    &:not(:last-child) {
      margin-bottom: 53px;
    }
  }
}

.form__label {
  font-size: 14px;
  color: @main-color;
  text-transform: uppercase;
  padding-left: 22px;

  &--select {
    line-height: 18px;
    text-align: center;
    padding: 38px 15px 40px;
  }

  &--contact {
    display: none;
  }

  &--text {
    padding-bottom: 16px;
  }

  @media (min-width: @tablet-width) {
    padding: 11px 0 0 20px;

    &--select {
      padding: 0 25px 0;
    }

    &--name {
      margin-right: 17px;
      padding: 0;
    }

    &--contact {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 14px;
    line-height: 30px;

    &--name {
      padding: 0;
    }
  }
}

.form__check-wrap {
  padding-top: 3px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding: 48px 0 52px 58px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 42px 0 8px 58px;
    width: 936px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.form__field {
  border: 2px solid @border-color;
  padding: 20px;
  margin-top: 5px;
  width: 84%;

  &:hover {
    border-color: @black;
  }

  &:focus {
    border-color: @main-color;
    outline: none;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    margin: 0;
    flex-grow: 1;
  }

  @media (min-width: @desktop-width) {
    padding: 19px 22px 20px;
  }

  &--contact {
    @media (min-width: @tablet-width) {
      width: 396px;
    }

    @media (min-width: @desktop-width) {
      width: 313px;
      padding: 19px 17px 20px 17px;
      flex-grow: 0;
      box-sizing: border-box;
    }
  }
}

.form__wrap-info {
  padding: 30px 0 0;

  @media (min-width: @tablet-width) {
    padding: 36px 0 24px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding: 28px 0 11px;
  }
}

.form__item-info {
  margin: 0 auto;

  &:not(:last-child) {
    margin: 0 auto 14px;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;

    &:not(:last-child) {
      margin: 0 auto 27px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 62px;
      height: 63px;
      background-color: #e5e5e5;
      right: 0;
      top: 1px;
    }

    &--phone::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: url("../img/icon-phone.svg") no-repeat;
      top: 22px;
      right: 22px;
    }

    &--address::after {
      content: "";
      position: absolute;
      width: 28px;
      height: 13px;
      background: url("../img/icon-mail.svg") no-repeat;
      top: 26px;
      right: 13px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 374px;
    margin: 0;

    &:first-child {
      margin: 0 70px 0 59px;
    }
  }
}

.form__item-select {
  min-width: 270px;

  &:not(:last-child) {
    margin-bottom: 52px;
  }

  @media (width: @tablet-width) {
    width: 80%;
  }

  @media (min-width: @desktop-width) {
    width: 270px;
    margin-bottom: 52px;

    &--1 {
      order: 1;
    }

    &--2 {
      order: 2;
    }

    &--3 {
      order: 3;
    }

    &--4 {
      order: 4;
    }

    &--5 {
      order: 5;
    }

    &--6 {
      order: 6;
    }
  }
}

.form__wrap-radio {
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    padding: 48px 0 58px 58px;
  }

  @media (min-width: @desktop-width) {
    width: 432px;
    padding: 44px 0 58px 74px;
    box-sizing: border-box;
  }
}

.form__item-radio {
  &:not(:last-child) {
    margin-bottom: 45px;
  }
}

.form__select-label {
  padding-left: 70px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
  }
}

.form__checkbox::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: @white;
  border: 2px solid @border-color;
  left: 0;
  top: -6px;
}

.form__checkbox:hover::before,
.form__radio-btn:hover::before {
  border-color: #283645;
}

.form__checkbox:active::before,
.form__radio-btn:active::before {
  border-color: @main-color;
}

.form__check:checked + .form__checkbox::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  background-color: transparent;
  border: 2px solid @main-color;
  border-top: 0;
  border-right: 0;
  transform: rotate(-44deg);
  left: 9px;
  top: 4px;
}

.form__radio-btn::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 50%;
  left: 1px;
  top: -7px;
}

.form__radio-btn:hover::before {
  border: 2px solid @black;
}

.form__radio-btn:focus::before {
  border: 2px solid @main-color;
}

.form__radio:checked + .form__radio-btn::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: @main-color;
  left: 12px;
  top: 4px;
}

.form__data-text {
  @media (min-width: @tablet-width) {
    width: 81%;
    margin: 0 auto;
    padding: 37px 0 42px;
  }

  @media (min-width: @desktop-width) {
    width: 936px;
    padding: 28px 58px 35px;
    box-sizing: border-box;
  }
}

.form__field-text {
  border: 2px solid @border-color;
  padding: 14px 20px 2px;
  width: 100%;
  box-sizing: border-box;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    line-height: 29px;
    padding: 16px 20px 0 18px;
  }

  @media (min-width: @desktop-width) {
    height: 128px;
  }
}

.form__submit-wrap {
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 8px 0 4px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
    padding: 14px 0 0;
  }
}

.form__submit {
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.form__required {
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;

  sup {
    color: @main-color;
  }
}

.form__required-extra {
  display: none;

  @media (min-width: @desktop-width) {
    display: inline-block;
  }
}
