.logo {
  height: 22px;
  width: 75px;
  display: block;

  .logo__m,
  .logo__l {
    display: none;
  }

  @media (min-width: @tablet-width) {
    width: 147px;
    height: 41px;

    .logo__m {
      display: block;
    }

    .logo__s,
    .logo__l {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    .logo__l {
      display: block;
    }

    .logo__s,
    .logo__m {
      display: none;
    }
  }
}

.logo-footer {
  width: 147px;
  height: 41px;
}

.logo-footer__stars {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.logo-footer__pink {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.logo__pink:hover {
  fill: @main-color;
}

// .logo__pink {
//   &:hover {
//     fill: @main-color;
//   }

//   &:active {
//     fill: rgba(255, 255, 255, 0.3);
//   }
// }
