.main__text {
  line-height: 30px;
  margin: 0 auto;
  text-align: center;
  max-width: 580px;

  &--form {
    padding: 46px 20px 33px 20px;
  }

  &--photo {
    padding: 45px 11% 49px;
  }

  &--photo-bottom {
    padding: 21px 0 42px;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;

    &--form {
      padding: 92px 50px 72px;
      max-width: 780px;
      margin: 0 auto;
    }

    &--photo {
      padding: 92px 11% 76px;
    }

    &--photo-bottom {
      padding: 45px 0 69px;
    }
  }

  @media (min-width: @desktop-width) {
    &--form {
      padding-bottom: 65px;
    }

    &--photo {
      padding-bottom: 88px;
    }

    &--photo-bottom {
      padding: 4px 0 66px;
    }
  }
}

.main__text-item {
  display: block;
}

.main__text-add {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.main--photo {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
  }
}
