.main__text {
  line-height: 30px;
  margin: 0;
  padding: 46px 20px 31px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding: 92px 50px 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 90px 195px 60px;
  }
}

.main__text-add {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.main--photo {
  @media (min-width: @desktop-width) {
    padding: 0 130px;
  }
}
