.main-nav {
  position: relative;
  background-color: #283645;

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    padding-right: 130px;
  }
}

.main-nav__link {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid @black;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 14px;
  text-align: center;
  display: block;

  &:hover {
    color: @main-color;
  }

  &:active {
    color: @main-color;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    border: none;
    line-height: 19px;
    font-weight: normal;
    text-transform: none;
    position: relative;

    &--active::before {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: @white;
      bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 80px;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}

.main-nav__link--active {
  &:hover {
    color: @white;
  }
}

.main-nav__toggle {
  font-size: 0;
  width: 50px;
  height: 24px;
  position: absolute;
  display: block;
  margin-left: auto;
  top: -44px;
  right: 20px;
  z-index: 2;
  border: 0;
  background-color: transparent;
  outline: none;

  @media (min-width: @tablet-width) {
    top: -60px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
