.reviews {
  margin: 0 auto;
  padding: 0 20px 0;

  @media (min-width: @tablet-width) {
    padding: 59px 20px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 184px 130px 0;
    display: flex;
    justify-content: space-between;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../../img/icon-quotes.svg") no-repeat;
      width: 79px;
      height: 64px;
      top: 72px;
      left: 47%;
    }
  }
}

.reviews__item {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 33px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    line-height: 30px;
    width: 700px;
    padding-bottom: 30px;
  }
}

.reviews__author {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: @black;
  padding-top: 40px;
  padding-bottom: 13px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    order: 1;
    padding: 0;
    margin-bottom: 2px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
  }
}

.reviews__author-info {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    line-height: 30px;
    order: 2;
  }
}

.reviews__text {
  line-height: 30px;
  font-weight: 400;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    margin-bottom: 36px;
  }
}

.reviews__item--1,
.reviews__item--2,
.reviews__item--3 {
  display: none;
}

.reviews__one:checked ~ .reviews__item--1 {
  display: flex;
}

.reviews__two:checked ~ .reviews__item--2 {
  display: flex;
}

.reviews__three:checked ~ .reviews__item--3 {
  display: flex;
}

.reviews__one:checked ~ .toggle--reviews .toggle__item--1,
.reviews__two:checked ~ .toggle--reviews .toggle__item--2,
.reviews__three:checked ~ .toggle--reviews .toggle__item--3 {
  border-color: #283645;
  background-color: #ffffff;
}

.reviews__arrows {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    position: relative;
    width: 22px;
    height: 41px;
    margin-top: 29px;

    &--previous::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 41px;
      background: url("../../img/icon-review-arrow-left.svg") no-repeat;
    }

    &--next::before {
      content: "";
      position: absolute;
      width: 22px;
      height: 41px;
      background: url("../../img/icon-review-arrow-right.svg") no-repeat;
    }
  }
}
