.subtitle {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 0 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: auto;
    max-width: 940px;
    margin: 0 auto;
    padding-top: 50px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 67px;
  }
}

.subtitle__item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 27px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding: 0;
    margin: 0;

    &:last-child {
      padding-left: 20%;
      padding-right: 20%;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 61px;
  }
}
